# =========================
# General
# =========================
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.db
*.DS_Store
.env
.venv
venv/
.env.local
.env.*.local

# =========================
# Django / Python
# =========================
# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django stuff:
local_settings.py
db.sqlite3
media/
staticfiles/
static/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.coverage.*

# IDEs/editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# =========================
# Node / React
# =========================
# dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/
package-lock.json
yarn.lock

# build output
dist/
build/

# misc
.DS_Store
*.pem

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel / netlify / deployment
.vercel/
.netlify/

# =========================
# Others
# =========================
*.swp
*.swo
*.bak
*.tmp
*.temp
