[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
drf-spectacular = "*"
whitenoise = "*"
gunicorn = "*"
django = "*"
djangorestframework = "*"
django-extensions = "*"
django-cors-headers = "*"
boto3 = "*"
django-storages = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.13"
